<?xml version="1.0" encoding="UTF-8"?>
<module>
    <actions>
        <action name="dispA_missionAdminConfig" type="view" index="true" admin_index="true" standalone="true" />
        <action name="dispA_missionAdminInsert" type="view" />
        <action name="dispA_missionDashboard" type="view" index="true" />
        <action name="dispA_missionGame" type="view" />

        <action name="procA_missionAdminInsertMission" type="controller" />
        <action name="procA_missionAdminDeleteMission" type="controller" />
        <action name="procA_missionPlayGame" type="controller" />

        <action name="dispA_missionAdminMemberList" type="view" standalone="true" />
        <action name="dispA_missionAdminStats" type="view" standalone="true" />
        <action name="dispA_missionAdminLogList" type="view" standalone="true" />
        <action name="procA_missionAdminUpdateTicket" type="controller" standalone="true" />
        <action name="dispA_missionAdminMemberMissions" type="view" standalone="true" />
    </actions>
    <triggers>
        <trigger name="member.doLogin" module="a_mission" type="controller" target="triggerAfterLogin" after="after" />
        <trigger name="document.insertDocument" module="a_mission" type="controller" target="triggerAfterInsertDocument" after="after" />
        <trigger name="comment.insertComment" module="a_mission" type="controller" target="triggerAfterInsertComment" after="after" />
        <trigger name="document.updateVotedCount" module="a_mission" type="controller" target="triggerDocumentVoted" after="after" />
        <trigger name="comment.updateVotedCount" module="a_mission" type="controller" target="triggerCommentVoted" after="after" />
    </triggers>
</module>
